<div th:fragment="bootstrap" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js} "></script>
</div>
<div th:fragment="jquery" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js} "></script>
</div>

<div class="header" id="header" th:fragment="banner" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/header.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/Site.css}" />
    <div class="logo-banner">
        <img id="logo" th:src="@{~/images/nationalbank_logo.png}"/>
        <p th:text="'Bill Collection of ' + ${name}"></p>
    </div>
    <div class="display-login">
        <label id="header-branch" th:text="${user.brName}"></label>
        <label id="header-user" th:text="${user.userName}"></label>
        <a href="/user-logout"><img id="logout" th:src="@{~/images/logout.jpg}"/></a>
    </div>
</div>
