<div th:fragment="bootstrap" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js} "></script>
</div>
<div th:fragment="jquery" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js} "></script>
</div>

<div class="header" id="header" th:fragment="banner" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/header.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/Site.css}"/>
    <div class="logo-banner">
        <img id="logo" th:src="@{~/images/nationalbank_logo.png}"/>
        <p th:text="'Bill Collection of ' + ${name}"></p>
    </div>
    <div th:switch="${user}">
        <div th:case="null">
            <a style="float: right; margin: 120px 0px" href="http://192.168.0.125/sso/">Click Here to Go back SSO</a>
        </div>
        <div th:case="*">
            <div class="display-login">
                <label id="header-branch" th:text="${user.brName}"></label>
                <label id="header-user" th:text="${user.userName}"></label>
                <a href="/user-logout"><img id="logout" th:src="@{~/images/logout.jpg}"/></a>
            </div>
        </div>
    </div>
</div>
<div class="footer" id="footer" th:fragment="footer">
    <div style="width: 800px; height: 100px; text-align: center; margin-left: auto; margin-right: auto; padding-top: 10px; padding-bottom: auto; font-family: Calibri; font-size: 11px;">
        <hr>
        National Bank Limited &nbsp; |&nbsp; Information Technology Division
        <hr>
    </div>
</div>

<div th:fragment="datepicker" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/datepicker.css}"/>
    <script th:src="@{~/js/datepicker.js} "></script>
</div>


<div th:fragment="datatable" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/dataTables.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/buttons.dataTables.min.css}"/>
    <script th:src="@{~/js/dataTables.js} "></script>
    <script th:src="@{~/js/dataTables.buttons.min.js} "></script>
    <script th:src="@{~/js/jszip.min.js} "></script>
    <script th:src="@{~/js/pdfmake.min.js} "></script>
    <script th:src="@{~/js/vfs_fonts.js} "></script>
    <script th:src="@{~/js/buttons.html5.min.js} "></script>
    <script th:src="@{~/js/buttons.print.min.js} "></script>
</div>