<div th:fragment="bootstrap" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/4.1.1/bootstrap.min.js} "></script>
</div>
<div th:fragment="jquery" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js} "></script>
</div>

<div class="menu" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
     <link rel="stylesheet" type="text/css" media="all" th:href="@{~/css/menu.css}" />
    <ul>
        <li><a href="/get-bill">Get Bill</a></li>
        <li><a href="/get-report">Report</a></li>
    </ul>
</div>