.page{
    margin: 0 auto;
    width: 960px;
    border: 1px solid black;
}
#get-bill{
    margin: 10px 10px;
    line-height:1.0 !important
}

#get-report{
    margin: 10px auto;
    text-align: justify;
    width: 450px;
}

#get-report ~ .submit {
    margin: 1px auto;
    width: 220px;
}

.loader{
    display: none;
}
.results {
    margin: 10px 0px 0px 0px;
    line-height:1.0 !important
}