<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <script th:replace="fragments/header :: bootstrap"></script>
    <script th:replace="fragments/header :: jquery"></script>
</head>
<body>
<div th:switch="${user}">
    <div class="page">
        <div th:case="null">Please go back & try again</div>
        <div th:case="*">
            <script th:replace="fragments/header :: banner"></script>
            <script th:replace="fragments/menu :: menu"></script>
            <div class="clearfix"></div>
            <div class="container">
                <form id="get-report" method="GET" action="#">
                    <div class="row">
                        <div class="col">
                            <script th:replace="fragments/input ::formField ('From Date', '', 'form-control', '')"></script>
                        </div>
                        <div class="col">
                            <script th:replace="fragments/input ::formField ('To Date', '', 'form-control', '')"></script>
                        </div>
                        <script th:replace="fragments/input ::csrf"></script>
                    </div>
                    <div class="col">

                        <input type="radio" name="optradio" hidden checked value="2">
                        <label class="radio-inline">
                            <input type="radio" name="billstatus" checked th:value="${paidBillStatus}"> Paid
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="billstatus" th:value="${unPaidBillStatus}"> Unpaid
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="billstatus" th:value="${allBill}"> All
                        </label>
                        <input style="cursor: pointer" type="submit" class="submit form-control"/>
                    </div>
                </form>
                <div class="report">
                    <div class="text-center" style="margin: 1px auto">
                        <img src="images/progress-spinner.gif" class="img-fluid loader loader-report" alt="">
                    </div>

                    <table id="report_table_db" class="display compact" width="100%">
                        <tfoot id="report_table_db_footer">
                        <tr>
                            <th colspan="8" style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <script th:replace="fragments/header :: footer"></script>
    </div>
</div>
<script th:replace="fragments/header :: datepicker"></script>
<script th:src="@{/js/ajax_call_report.js}"></script>
<script th:replace="fragments/header :: datatable"></script>
</div>
</body>
</html>